<form class="form-auth">
  <h2 class="form-auth__title">{{entry}}</h2>

  <div class="form-auth__container form-auth__container_margin">
      {{{inputLogin}}}
      {{{inputPassword}}}
  </div>

  <div class="form-auth__container">
    {{{button}}}
    <a href="/reg" class="form-auth__link">
      {{registration}}
    </a>
  </div>
</form>

