<form class="form-auth">

  <h2 class="form-auth__title">{{entry}}</h2>

  <div class="form-auth__container form-auth__container_margin">
    <div class="input-container input-container_margin">
      {{{inputLogin}}}
    </div>
    <div class="input-container">
      {{{inputPassword}}}
    </div>
  </div>

  <div class="form-auth__container">
    {{{button}}}
    <a href="http://localhost:3000/reg" class="form-auth__link">
      {{registration}}
    </a>
  </div>

</form>
