<form class="form-reg">

  <h2 class="form-reg__title">{{entry}}</h2>

  <div class="form-reg__container form-reg__container_margin">
    {{{email}}}
    {{{login}}}
    {{{firstName}}}
    {{{secondName}}}
    {{{phone}}}
    {{{password}}}
    {{{passwordRepeat}}}
  </div>
  <div class="form-reg__container">
    {{{button}}}
  </div>

</form>
