<form class="form-reg">

  <h2 class="form-reg__title">{{entry}}</h2>

  <div class="form-reg__container form-reg__container_margin">
    <div class="input-container input-container_margin">
      {{{email}}}
    </div>

    <div class="input-container input-container_margin">
      {{{login}}}
    </div>

    <div class="input-container input-container_margin">
      {{{firstName}}}
    </div>
    
    <div class="input-container input-container_margin">
      {{{secondName}}}
    </div>

    <div class="input-container input-container_margin">
      {{{phone}}}
    </div>

    <div class="input-container input-container_margin">
      {{{password}}}
    </div>

    <div class="input-container">
      {{{passwordRepeat}}}
    </div>
  </div>

  <div class="form-reg__container">
    {{{button}}}
    <a href="window.location.href/" class="form-reg__link">
      {{signIn}}
    </a>
  </div>

</form>
