<header class="chat-header">
  <div class="chat-header__wrapper">
    <div class="chat-list__wrapper-img">
      <img class="chat-list__img"/>
    </div>
    <p class="chat-header__name">{{login}}</p>
  </div>

  <div class="chat-header__dropdown">
    <button class="chat-header__dropdown-button">
      <img src={{{dots}}} class="chat-header__dots"/>
    </button>
    <div class="chat-header__dropdown-menu">
      <button data-modal="chatAddUser" data-chat="addUser"> Добавить пользователя</button>
      <button data-modal="chatDeleteUser" data-chat="deleteUser"> Удалить пользователя</button>
      <button data-modal="chatAdd" data-chat="addChat"> Добавить чат</button>
      <button data-modal="chatDelete" data-chat="deleteChat"> Удалить чат</button>
    </div>
  </div>
  
</header>

<section class="chat-body">
  <h2 class="chat-body__title">19 Июля</h2>
  <div class="chat-body__wrapper-text">
    {{{messagesInstance}}}
  </div>
</section>

<footer class="chat-footer">
  <div class="chat-footer__dropdown">
    <button class="chat-footer__dropdown-button">
      <img src={{{clip}}}/>
    </button>
    <div class="chat-footer__dropdown-menu">
      <button> Фото или видео</button>
      <button> Файл</button>
      <button> Локация</button>
    </div>
  </div>
  

  <div class="chat-footer__wrapper-input">
    <label>
      <input id="message" name="message" type="text" placeholder="Сообщение" class="chat-footer__input"/>
    </label>
  </div>

  <div>
    <button class="aside__button" data-chat="sendMessage">
      <picture>
        <img src={{{arrowRigth}}}>
      </picture>
    </button>
  </div>
</footer>

