<div class="label-container">
  <p>{{name}}</p>
  <label class="profile__label">
    <input 
      name={{nameInput}}
      type={{types}} 
      size="30"
      autocomplete="off"
      placeholder={{placeholder}} 
      {{disabled}}
      />
  </label>
</div>
