<p>{{names}}</p>
<label for={{idName}} class="profile__label"></label>
<input 
    id={{idName}}
    name={{nameInput}}
    type={{types}}
    placeholder={{placeholder}}
    {{disabled}}
    size="30"
    autocomplete="off"
    value={{value}}
    >
<p class="helpertext">{{helperText}}</p>
