<p>{{names}}</p>
<label for={{idName}} class="profile__label"></label>
<input 
    id={{idName}}
    name={{nameInput}}
    type={{types}} 
    size="30"
    autocomplete="off"
    placeholder={{placeholder}} 
    {{disabled}}
    />
<p class="helpertext">{{helperText}}</p>
