<div class="chat-list">
  <div class="chat-list__wrapper">
    <div class="chat-list__wrapper-img">
      <img class="chat-list__img"/>
    </div>
    
    <div class="chat-list__wrapper-text">
      <h3 class="chat-list__title">{{name}}</h3>
      <p class="chat-list__text"><span>{{you}}</span>{{sometext}}</p>
    </div>
  </div>

  <div class="chat-list__wrapper-addinfo">
    <p class="chat-list__date">{{date}}</p>
    <p class="chat-list__quantity-message">{{quantity}}</p>
  </div>
</div>
