<div class="profileData">
  {{{aside}}}
  {{{avatar}}}
  <form>
    <div class="profile__container profile__container_margin">
      {{{oldPassword}}}
      {{{newPassword}}}
      {{{repeatNewPassword}}}
    </div>
    <div class="profileData__button_container">
      {{{save}}}
    </div>
    </form>
</div>

