<h2 class="profile__title">{{title}}</h2>
<div class="profile__container profile__container_margin">
   {{{email}}}
   {{{login}}}
   {{{firstName}}}
   {{{secondName}}}
   {{{displayName}}}
   {{{phone}}}
</div>

